.margin
  %h1 Categories
  %p Click a category to view its products:
  %ul
    - @categories.each do |category|
      %li.link-behaviour
        = link_to category.name, category_path(category.id)




