.my-flex
  %h1 Categories
  %p Click a category to view its products:
  - @categories.each do |category|
    .my-box
      %h3
        = link_to category.name,category_path(category)
      %p
        - if category.matches.count == 1
          This category currently has #{category.matches.count} product.
        - else
          This category currently has #{category.matches.count} products.




