.my-flex
  %h1=@category.name
  - if @products.count > 0
    %p Products in this category:
    %p (Click the product to view)
    - if @products.count > 0
      .my-row
        - @products.each do |product|
          .my-box-bigger
            %h4= link_to product.title, show_path(product)
            %p= h truncate(product.description, length: 100)
    - else
      %p This category has no products yet.



