
%h1= @category.name

.product-link
  Products in this category:

%ul
- @products.each do |product|
  %li
    %p
      = link_to product.title, show_path(product)
      = product.description
      = product.created_at.strftime("%m/%d/%Y")

