.my-flex-row
  %h1 Products
  %p Click a product to view it or #{link_to "add a new product", new_product_path}
  - @products.each do |product|
    .my-box
      %h4
        = link_to product.title, show_path(product.id)
      %p
        This product currently belongs to #{product.matches.count} categories
