.margin
  %h1 Products
  %p.link-behaviour
    Click a product to view it or #{link_to "add a new product", new_product_path}
    %ul
      - @products.each do |product|
        %li
          .link-behaviour
            = link_to product.title, show_path(product.id)

